
body{
  margin:0px;
}

p{
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 12pt;
}

span{
  font-family: 'Quicksand', sans-serif;
  color:white;
  padding:2px;
}

.keywords{
  margin-top:-10px;
}

.html{
  background-color:#57d48f;
}

.css{
  background-color:#FF06B7;
}

.js{
  background-color:#F47C7C;
}

.react{
  background-color:#6F69AC;
}

.api{
  background-color: #FAC213;
}

.mongoDB{
  background-color:violet;
}

h1{
  font-weight: 700;
}

/*HEADER*/

.header{
  display:flex;
  flex-direction: column;
  position: relative;
  background-color: #9C0F48;
  height:300px;
  background-image: url("images/background2.png");
}

.logobox{
  padding:25px;
  top: 10px;
  right: 5px;
  position: absolute;
}

.fa-brands, .fa-solid{
  color: #f3c5ce;
  margin: 3px;
  font-size: 25pt;
}

.intro{
  text-align: left;
  width: 200px;
  font-size: 12pt;
  margin-left: 20px;
  margin-top: 175px;
  line-height: 40px;
  font-family: 'Poiret One', cursive;
  color: #fbc2cd;
}

.profile-image{
  border: 5px solid #A9333A;
  overflow: hidden;
  width: 155px;
  height: 180px;
  top: 120px;
  right: 20px;
  position: absolute;
} 

/*ABOUT ME*/

h2, h3, h4{
  font-family: 'Poiret One', cursive;
}

h2{
  margin-top:-15px;
}

 
.accordion {
    width:80%;
    margin:1rem auto;
    background-color: #F9E4D4;
  }
  
  .accordion h1{
    text-align:center;
  }
  
  .accordion-item{
    margin: 1rem; 
  }
  
  .accordion-item-header {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    cursor: pointer;  
    font-family: 'Abril Fatface', cursive;
}

  
  .accordion-item-header::after {
    content:"+";
    font-size:2rem;
    position:absolute;
    right:1rem;
  }
  
  .accordion-item-header.active::after{
    content:"-";
  }
  
  .accordion-item-body {
    display:none;
    padding:1rem;
    line-height: 1,5rem;
    border-top: 1px solid;
  }
  
  .accordion-item-header.active + .accordion-item-body {
    display: block;
  }
  
  .accordion-item-body-content{
    font-family: 'Cormorant Garamond', serif;
  }

  .links{
    display:flex;
    flex-direction: column;
  }