
body{
  margin:0px;
}

p, li{
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 11pt;
}

span{
  font-family: 'Quicksand', sans-serif;
  color:white;
  padding:2px;
}

/*HEADERS*/

h1{
  font-size: 40px;
  color: #cbf5ea;
  margin-top: 5px;
}

h3{
  font-style: italic;
  color:#E1578A;
}



/*KEYWORDS*/

.keywords{
  margin-top:-10px;
}

.html{
  background-color:#57d48f;
}

.css{
  background-color:#FF06B7;
}

.js{
  background-color:#F47C7C;
}

.react{
  background-color:#6F69AC;
}

.api{
  background-color: #FAC213;
}

.mongoDB{
  background-color:violet;
}

.node{
  background-color:rgb(53, 212, 233);
}

.redux{
  background-color:rgb(33, 15, 197);
}

/*HEADER*/

.header{
  display:flex;
  flex-direction: column;
  position: relative;
  background-color: #9C0F48;
  height:280px;
  background-image: url("images/background3.png");
}

.logobox{
  padding:25px;
  top: 10px;
  right: 5px;
  position: absolute;
}

.fa-brands, .fa-solid{
  color: #cbf5ea;
  margin: 3px;
  font-size: 25pt;
}

.intro{
  text-align: left;
  width: 200px;
  font-size: 12pt;
  margin-left: 15px;
  margin-top: 175px;
  line-height: 40px;
  font-family: 'Poiret One', cursive;
  color: #fbc2cd;
}

.profile-image{
  border: 5px solid #E1578A;
    overflow: hidden;
    width: 155px;
    height: 180px;
    top: 100px;
    right: 20px;
    position: absolute;
} 

/*ABOUT ME*/

h1, h2, h3, h4, h5, h6, .projects{
  font-family: 'Oswald', sans-serif;
}

h2{
  margin-top:-15px;
}

 
.accordion {
    width:80%;
    margin:1rem auto;
    background-color: #cbf5ea;
  }
  
  .accordion h1{
    text-align:center;
  }
  
  .accordion-item{
    margin: 1rem; 
  }
  
  .accordion-item-header {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    cursor: pointer;  
    font-family: 'Abril Fatface', cursive;
}

  
  .accordion-item-header::after {
    content:"+";
    font-size:2rem;
    position:absolute;
    right:1rem;
  }
  
  .accordion-item-header.active::after{
    content:"-";
  }
  
  .accordion-item-body {
    display:none;
    padding:1rem;
    line-height: 1,5rem;
    border-top: 1px solid;
  }
  
  .accordion-item-header.active + .accordion-item-body {
    display: block;
  }
  
  .accordion-item-body-content{
    font-family: 'Cormorant Garamond', serif;
  }

  .links{
    display:flex;
    flex-direction: column;
    margin-top: -1rem;
    margin-bottom: -1rem;
  }


  .projects{
    font-size: 35px;
    color: #E1578A;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .technigo{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 45px;
  }

  .arrow{
color: #A9333A;
margin-top: -10px;
  }

  .projectDescr{
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .phone, .mail{
    color:#A9333A;
  }

  .contact{
    color:black;
  }

  .listh5{
    margin-bottom: -10px;
  }